<div class="hero-container">
  <div class="book-now-container">
    <div fxFlex fxLayoutAlign="flex-end">
      <button class="book-now-button" mat-stroked-button color="primary">
        Book Now
      </button>
    </div>
  </div>
  <div class="header-container" fxLayout="row"  fxLayoutAlign="center center">
    <h2 class="mat-display-1" color="white">Luxury Beach Front Resort</h2>
    <h1 class="mat-display-4" fxFlex="66" [fxFlex.md]="780">Natai Beach  <br />Resort &amp; Spa</h1>
  </div>
</div>

